$bg-primary: #1b1a17;
$bg-secondary: #242320;

$text: #fff;
$text-primary: #f0e3ca;
$text-secondary: rgba(240, 227, 202, 0.64);

$accent: #ff8303;
$accent-secondary: #a35709;

$font-roboto: 'Roboto', sans-serif;
$font-inter: 'Inter', sans-serif;
