.concluded {
  color: green;
  text-decoration: line-through;
}
.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;

  input[type="checkbox"] {
    margin-right: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50% ;
    cursor: pointer;
  }

  span {
    flex-grow: 1;
    margin-left: 10px;
  }

button {
  padding: 4px 8px;
  background-color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-left: 10px;

  &:hover {
    background-color: #c82333;
  }
}
@media (max-width: 600px) {
  .todo-item {
    
    input[type="checkbox"] {
      width: 8px;
      height: 4px;
      
    }

    span {
      margin-left: 8px;
      font-size: 16px;
    }

    button {
      padding: 3px 6px;
      font-size: 14px;
      margin-left: 8px;
    }
  }
}
}